{% extends 'base.html' %}
{% block content %}

<h1>Board Games List</h1>

{% for boardgame in boardgames %}
    <div class="card">
        <a href="/boardgames/{{ boardgame.id }}">
            <div class="card-content">
                <span class="card-title">{{ boardgame.name }}</span>
                <p>Name: {{ boardgame.name }}</p>
                <p>Players: {{ boardgame.players }}</p>
                <p>Description: {{ boardgame.description }}</p>
                <p>Release: {{ boardgame.release }}</p>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}